.result {
    background-color: #EDE1F3;
    padding: 3rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60vw;

  }
  
  @media (max-width:641px){
    .result {
        width: 65vw;
    }
  }

.inputText {
    height: 15em;
    width: 50vw;
    margin: 1rem 2rem;
    font-family: monospace;
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem;
    overflow-y: scroll;
}

@media (max-width:641px){
  .inputText {
    width: 75vw;
    height: 50vh;
  }
}

.wordCount {
    font-weight: bold;
}